{
  accountPassword = {
    jdf = "$6$kKUcskTCIxS$nIV8zTYv39/ItWlTwtroevDL/Asm.8Tm9yEYkNjb8.r3xgSjBfGj/VXST2H9T2F3z8ZKGay/biLasHrQnhKIt1";
    root = "$6$kKUcskTCIxS$nIV8zTYv39/ItWlTwtroevDL/Asm.8Tm9yEYkNjb8.r3xgSjBfGj/VXST2H9T2F3z8ZKGay/biLasHrQnhKIt1";
  };
  apiKey = {
    igdb = "";
    steamgriddb = "";
  };
}